html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

}

#layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1;
}


.tema-header-footer {
    background-color: #198754 !important;
}

.tema-header-footer .navbar-nav .nav-link {
    color: aliceblue !important;
}

.tema-header-footer .navbar-brand {
    color: aliceblue;
}

.tema-secundario {
    background-color: #1d8c58;
}

.carousel-icone-cards {
    background-color: #198754 !important;
    border-radius: 50%;
    padding: 20px;
    transform: scale(0.7);
}

#containerNossasLojas, #containerFaq, #containerCadastro, #containerCarrinho, #containerListaBarracas, #containerErro, #containerDetalhamentoBarraca {
    margin-top: 30px;
}


@media (max-width: 1200px) {
    #formularioAluguel {
        margin-top: 74px;
    }
}

#container-pag-erro {
    margin-top: 74px;
}


.modal-backdrop-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1050;
}